/* my work on container */
.container{
    width:20%;
    margin: 0%auto;
    border-style: groove ;
    padding: 10px;
    color: azure;
    background-color:rgba(0, 0, 0, 0.801);
    border-radius: 15px; 
    text-align: center;
    /* object-fit: cover; */
    /* min-width: -12%; */
}
                                            /* MY WORK ON MEDIA QUERIES */
@media( max-width: 344px){
    body{

        text-align: center;
        background-image: url("image/new2.jpg") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
       
            .container{
                min-width: 80%;
                /* background-color: yellow; */
                
            }
      
    }
}



@media( min-width: 345px){
    body{ 

        text-align: center;
        background-image: url("image/new2.jpg") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
   
            .container{
                width: 70%;         
            }
      
    }
    
}

/* -----added recently-------- */
@media( min-width: 540px){
    body{ 

        text-align: center;
        background-image: url("image/new2.jpg") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;
   
            .container{
                width: 60%;
            
            }
      
    }
    
}


 
 @media( min-width: 600px) {
    body{
        
        text-align: center;
        background-image: url("image/new2.jpg") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: auto;

                .container{
                    width: 40%;             
                    /* background-color: brown; */
                }
      
    }
} 




 @media( min-width: 700px) {
    body{
          
        text-align: center;
        background-image: url("image/new2.jpg") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: auto;

            .container{
                width: 35%;
                /* background-color:blue; */
            }
        
    }
} 
 
@media( min-width: 900px) {
    body{
        
        text-align: center;
        background-image: url("image/new2.jpg") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: auto;

            .container{
                width: 30%;
                /* background-color:green; */
            }
        
    }
}


@media( min-width: 1000px){
    body{

        text-align: center;
        background-image: url("image/new2.jpg") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: auto;

            .container{
                max-width: 25%;
                /* background-color: orangered; */
            }
        
    }
}


@media( min-width: 1200px){
    body{

        text-align: center;
        background-image: url("image/new2.jpg") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: auto;

            .container{
                max-width: 20%;
                /* background-color: red; */
            }
        
    }
}


@media( min-width: 1500px){
    body{

        text-align: center;
        background-image: url("image/new2.jpg") ;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: auto;

            .container{
                max-width: 15%;
                /* background-color: red; */
            }
        
    }
}








      
      /* my work on colour change on fudma online portal */
.cyber{
    animation: rotatecolor 5s linear infinite;
}


@keyframes rotatecolor {
    0%{
        color:white;
    }
    90%{
        color: blue;
    }
    70%{
        color:green ;
    }
    80%{
        color:tan ;
    }
    100%{
        color: gray;
    }
    20%{
        color:red ;
    }
    50%{
        color: yellow;
    }
}


/* PLS TAKE THIS NOTE THIS IS THE ORAGINAL BODY BEFORE THE EXISTING ONE */
/* ORAGINAL BODY ON COMMIENT */

/* body{
    text-align: center;
    background-image: url("image/new2.jpg") ;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    height: auto;
        
} */













/* my work on link */
:active{
    text-decoration: none;
}
:hover{
    text-decoration: none;
}
:visited{
    text-decoration: none;
}
:link{
    text-decoration: none;
}
/* my work on div 2 */
 /* .class{   
    color: aliceblue;
    
    
    justify-content: center;

    
  }   */
  .highlighted-text{
    background-color: black;
    display: inline;
    color: aliceblue;

  }

  /* my work on icon */
.fa-user{
    color: tan;
    font-size:20px ;
    margin-right: -1%;
    border-style: none;  
}
.fa-lock{
    color: tan;
    font-size:20px ;
    margin-right: -1%;
    border-style: none;
}
.fa-facebook{
    font-size:15px ;
    color: blue;
    /* border-radius: 50% ; */
    /* object-fit: cover; */
}
.fa-whatsapp{
    font-size:15px ;

}
.fa-twitter{
    font-size:15px ;
    color: blueviolet;
}
.fa-instagram{
    font-size:15px ;
    color: brown;
}
.fa-phone{
    font-size:18px ;
    color: rgb(0, 139, 53);

}

.spinner{
    width: 50px;
    height: 50px;
    border-style:solid ;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0dog);

    }
    100% {
        transform: rotate(360dog);

    }
}

#Loading p{
    color: yellow;
    margin-top: 10px;
    font-size: 10%;

}
